* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', 'Monaco', 'Menlo', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
  background: #e8e8e8;
}

#root {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: 'Courier New', 'Monaco', 'Menlo', monospace;
}

